{% load static %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djangoスニペット</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'snippets/css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
        <div class="container justifi-content-between">
            <a href="/" class="navbar-brand">Djangoスニペット</a>
        </div>
    </nav>
    <main>
        <div class="container">
            {% block main %}{% endblock main %}
        </div>
    </main>
</body>
</html>